/*	
	@色彩表：
	背景淡棕色	#F7F7F0
	状态栏黄色	#FFCC00
	分栏线灰色	#EAEAE0
	字体黑色	#5A5A50
	字体桃红色	#FA6650
	字体灰色	#CCCCCA
	字体深灰色	#B5B5B1
*/

*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

input[type='checkbox']{
	margin-left: 8px;
	margin-right: 8px;
	width: 14px;
}

body{
	/*background-color: #202020;*/
	background-color: #F7F7F0;
	font-family: "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif;
	color: #5A5A50;
}

/***购物车主体***/
.mainbody{
	/*max-width: 640px;*/
	background-color: #F7F7F0;
	margin: auto;
	float: left;
}

/***购物车标题***/
.titlebox{
	background-color: #7DB9DE;
	overflow: hidden;
	padding-top: 10px;
	padding-bottom: 10px;
}
.layout-3{
	width: 33.33%;
	float: left;
}
.arrow,.pattern,.title{
	font-size: 17px;
}
.arrow{
	margin-left: 10px;
	color: #FA6650;
	float: left;
}
.pattern{
	margin-right: 10px;
	color: #FA6650;
	float: right;
}
.title{
	display: block;
	text-align: center;
	margin: auto;
}

/***物品清单***/
.shoplist{
	font-size: 13px;
}
.shopbox{
	margin-top: 5px;
	background-color: #fff;
	padding-left: 5px;
	padding-right: 5px;
}
.shopname{
	margin-left: -20px;
	width: 645px;
	height: 40px;
	overflow: hidden;
	z-index:1;
	position:fixed;
	font-size: 20px;
	padding-top: 8px;
	color: #566C73;
	text-align: center;
	background: white;
	border: 1px solid #D7C4BB;
	-moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
	-o-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
	-moz-border-radius: 0px 2px 2px 0px;
	-webkit-border-radius: 0px 2px 2px 0px;
	-o-border-radius: 0px 2px 2px 0px;
	-ms-border-radius: 0px 2px 2px 0px;
	-khtml-border-radius: 0px 2px 2px 0px;
	border-radius: 0px 2px 2px 0px;
}
.shopname input{
	height: 30px;
	float: left;
}
.shopname span{
	margin-left: 15px;
	display: block;
	float: left;
	line-height: 30px;
	font-size: 20px;
	color: #566C73;
}
.shopbox hr{
	border: 0px;
	height: 1px;
	color: #EAEAE0;
	background-color: #EAEAE0;
}
.itembox{
	margin-top: 55px;
}
.itembox>hr{
	margin-left: 30px;
}

/***单个商品***/
.shopitem{
	padding-top: 10px;
	padding-bottom: 10px;
	overflow: hidden;
	position: relative;
}
.shopitem input[type='checkbox']{
	height: 60px;
	float: left;
}

.item{
	margin-top: -10px;
	background-color: #7DB9DE;
	border-radius:3px;
	box-shadow: 2px 2px 5px #3A8FB7;
	height: 40px;
	width: 625px;
}
.itemshow{
	margin-top: 10px;
	margin-left: 10px;
	position: absolute;
	font-size: 16px;
	color: #554236;
}
.authorshow{
	margin-top: -27px;
	margin-left: 23px;
	position: absolute;
	color: white;
	font-size: 6px;
	width: 80px;
}
.itempic{
	text-align: center;
	background-position: center center;
	background-size: cover;
}
a:link,a:visited{
	font-size: 8px;
	color: #DB4042;
}
a:hover,a:active{
	color: #FFC408;
}
.itemstatus{
	width: 100%;
	height: 20px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #FFCC00;
	color: #fff;
	line-height: 20px;
	text-align: center;
	display: none;
}
.itemname{
	margin: 4px 60px 0 115px;
	color: #554236;
	font-size: 14px;
	position: absolute;
}
.remarksshow{
	margin-left: 115px;
	margin-top: 21px;
	color: #3A8FB7;
	font-size: 6px;
	position: absolute;
}
.linkbox{
	width: 80px;
	height: 20px;
	position: absolute;
	margin-top: 9px;
	margin-left: 530px;
	padding-top: 4px;
	border-radius:10px;
	background-color:white;
	box-shadow: 2px 2px 3px #51A8DD;
}
.iteminputbox .price{
	float: right;
	margin-bottom: 10px;
}
.iteminputbox input{
	width: 40px;
	height: 28px;
	text-align: center;
	float: right;
	clear: both;
}

/***商品被禁用***/
.disableditem .itemstatus{
	display: inline;
}
.disableditem .itempic{
	opacity: 0.5;
}
.disableditem .itemname,.disableditem .price{
	color: #CCCCCA;
}

/***商店被禁用***/
.disabledshop{
	color: #CCCCCA;
}

/***完成区域***/
.done{
	padding: 5px 5px 5px 5px;
	margin-top: 20px;
	background-color: #fff;
	color: #B5B5B5;
	font-size: 15px;
	overflow: hidden;
}
.done input{
	height: 40px;
	float: left;
}
.done input + span{
	line-height: 40px;
	float: left;
}
.totalfreight{
	float: right;
	width: 150px;
	margin-right: 10px;
	font-size: 13px;
	margin-top: 3px;
	margin-bottom: 3px;
}
.total{
	color: #FA6650;
	display: block;
	float: right;
}
.freight{
	clear: both;
	display: block;
	margin-left: auto;
	float: right;
}
.done button{
	font-size: 15px;
	float: right;
	height: 40px;
	width: 80px;
	line-height: 40px;
	text-align: center;
	border: 0px;
	border-radius: 2px;
	cursor: pointer;
	color: #fff;
	background-color: #FA6650;
	font-family: inherit;
}